<h3>##Component##</h3>
<div class="media">
  <div class="media-body">
    <!-- example: -->
    <h4 class="##singular##-title">
      {{##singular##.id}}
      <small>{{##singular##.publishedDate|date("F jS, Y")}}</small>
    </h4>
  </div>
</div>

