<h3>Book</h3>
<div class="media">
  <div class="media-body">
    <h4 class="book-title">
      {{book.title}}
      <small>{{book.publishedDate|date("F jS, Y")}}</small>
    </h4>
    <h5 class="book-author">By {{book.authors|default('Unknown', True)}}</h5>
    <p class="book-description">{{book.description}}</p>
  </div>
</div>

